<div class="fondo">
 <div class="container">

   <h1>Dashboard</h1>

   <hr>
   <br>
   <h3>user</h3>
   <br>
   <h4>Logeado como: <span>{{ user()?.name | titlecase }}</span></h4>

   <br>
   <h4>Email: <span>{{ user()?.email | titlecase }}</span></h4>

   <br>
   <h4>UserId: <span>{{ user()?._id | titlecase }}</span></h4>

   <br>
   <h4 *ngIf="user()?.roles">Role: <span *ngFor="let rol of user()?.roles">{{rol}}, </span></h4>

   <br>
   <button (click)="onLogout()">Cerrar Sesión</button>
   <router-outlet/>
 </div>

</div>
