<form class="login100-form" autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()">

  <span class="login100-form-title p-b-49 m-b-50">
    Restrablecer
  </span>
  <div class="wrap-input100 m-b-100">
    <span class="label-input">Correo</span>
    <input class="input100 m-t-20" type="email" placeholder="Correo electrónico" formControlName="email" autocomplete="off">
    <span class="focus-input100"></span>
  </div>
  <div class="container-login100-form-btn">
    <div class="wrap-login100-form-btn">
      <div class="login100-form-bgbtn"></div>
      <button class="login100-form-btn" type="submit" [disabled]="myForm.invalid">
        Enviar Email
      </button>
    </div>
  </div>

  <div class="flex-col-c p-t-60">

    <a routerLink="/auth/login" class="txt2">
      Volver
    </a>

  </div>
</form>
